---

import Titulo from '../components/titulo.astro'
import Layout from '../layouts/Layout.astro'
import ButonAgregar from '../components/buttons/butonAgregar.astro'
import Buton1 from '../components/buttons/buton1.astro'
import Formulario from '../components/formulario.astro'
---



<Layout title='Crear usuario'>
   
    <Titulo title="Crear usuario"/>
   
   <div class="container">
    <Formulario/>
    <Buton1 value="Siguiente" />
   </div>


    <ButonAgregar />

   

    
    
</Layout>


