---

---





    <form class="row g-3" id="formUsuarios">

      <div class="col-md-6">
        <label for="inputEmail4" class="form-label" style="font-weight: 600;">Nombres</label>
        <input type="text" class="form-control" id="inputNombres">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label" style="font-weight: 600;">Apellidos</label>
        <input type="text" class="form-control" id="inputApellidos">
      </div>
  
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label" style="font-weight: 600;">Usuario</label>
        <input type="text" class="form-control" id="inputUsuario">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label" style="font-weight: 600;">Correo</label>
        <input type="email" class="form-control" id="inputCorreo">
      </div>
      
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label" style="font-weight: 600;">Contraseña</label>
        <input type="password" class="form-control" id="inputContraseña">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label" style="font-weight: 600;">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="inputContraseña2">
      </div>
  
      <div class="col-md-4">
        <label for="inputState" class="form-label" style="font-weight: 600;">Rol</label>
        <select id="inputRol" class="form-select">
          <option selected>Seleccionar...</option>
          <option>Administrador</option>
          <option>Usuario</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label" style="font-weight: 600;">Fecha de creación</label>
        <input type="date" class="form-control" id="inputFecha">
      </div>
  
         
    </form>


  <style>
  form {
  width: 1000px;
  height: 600px;
  border-radius: 7px;

  align-items: center;
  margin-left: 150px !important;
  background-color: transparent;

}






.formControl {

  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 8px;
  width: 455px;
  margin-bottom: 1px;
  color: #222222;
  outline-offset: ;
}






  </style>