<div class="col-md-6">
    <label for="inputPassword4" class="form-label" style="font-weight: 600;">Correo</label>
    <input type="email" class="form-control" id="inputCorreo">
  </div>
  

  <style>
    .form-label{
        border: none;
        
    }
  </style>