---

---

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<nav class="bg-blue-900 w-56 min-h-screen flex-col fixed shadow-2xl">


    <ul>
        <img src="public/img/Logo-Web-ppal-Blanco.png" alt="logo de navbar lateral" class="py-4 w-52">
        
        <li class="opcion  mt-5 ">
           

            <a href="./inicioAdmin" class="text-white ml-4 font-bold-lg pr-40 py-2"> Inicio </a>
        </li>
        <li
            class="opcion  mt-10 "
        >
            <a href="./seguimientos" class="text-white ml-4 font-bold-lg pr-40 py-2"> Seguimientos </a>
        </li>
        <li
            class="opcion  mt-10 "
        >
            <a href="./localidades" class="text-white ml-4 font-bold-lg pr-40 py-2"> Localidades</a>
        </li>
        <li class="opcion  mt-10 ">

            <a href="./usuarios" class="text-white ml-4 font-bold-lg pr-40 py-2"> Usuarios </a>
        </li>
        <li
            class="opcion  mt-16 "
        >
            <a href="#" class="text-white ml-4 font-bold-lg pr-40 py-2"> Configuración de usuario</a>
        </li>
    </ul>
</nav>


<style>
    .opcion{
        
        background-color: rgb(30 58 138);
        padding-right: 160px;
        display: flex;
        cursor: pointer;
        transition: all 200ms;
        
    }
    .opcion:hover{
        background-color: rgb(14, 210, 245);
    }
</style>